In [233]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json

In [234]:
df=pd.read_csv('C://Users//KRISHNA KANTH//Desktop//data-science-main//zomato.csv', encoding="latin")

In [235]:
df2=df.copy()

In [236]:
df2.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [237]:
df2.shape

(51717, 17)

In [238]:
df2.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [239]:
df2.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [240]:
df2=df2.drop(columns=['url','address','name','phone','reviews_list','menu_item'])
df2.head()

,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari

In [241]:
df2['online_order'] = df2['online_order'].replace({'Yes': 1, 'No': 0})

In [242]:
df2['book_table'] = df2['book_table'].replace({'Yes': 1, 'No': 0})

In [243]:
df2.head(3)

,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,1,1,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,1,0,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,1,0,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari

In [244]:
df2['location'] = df2['location'].fillna(df['location'].mode()[0])
df2['rate'] = df2['rate'].str.extract(r'(\d+(\.\d+)?)')[0]
df2['rate'] = pd.to_numeric(df2['rate'], errors='coerce')
df2['rate'] = df2['rate'].fillna(df2['rate'].mean())
df2['approx_cost(for two people)'] = pd.to_numeric(df2['approx_cost(for two people)'], errors='coerce') 
df2['approx_cost(for two people)'] = df2['approx_cost(for two people)'].fillna(df2['approx_cost(for two people)'].mean())
df2['listed_in(city)'] = df2['listed_in(city)'].fillna(df['listed_in(city)'].mode()[0])
df2['cuisines'] = df2['cuisines'].fillna(df['cuisines'].mode()[0])
df2['dish_liked'] = df2['dish_liked'].fillna(df['dish_liked'].mode()[0])
df2['rest_type'] = df2['rest_type'].fillna(df['rest_type'].mode()[0])

In [245]:
df2.head()

,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,1,1,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari
1,1,0,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari
2,1,0,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,Buffet,Banashankari
3,0,0,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,Buffet,Banashankari
4,0,0,3.8,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,Buffet,Banashankari

In [246]:
df2.describe

<bound method NDFrame.describe of        online_order  book_table      rate  votes                    location  \
0                 1           1  4.100000    775                Banashankari
1                 1           0  4.100000    787                Banashankari
2                 1           0  3.800000    918                Banashankari
3                 0           0  3.700000     88                Banashankari
4                 0           0  3.800000    166                Basavanagudi
...             ...         ...       ...    ...                         ...
51712             0           0  3.600000     27                  Whitefield
51713             0           0  3.700449      0                  Whitefield
51714             0           0  3.700449      0                  Whitefield
51715             0           1  4.300000    236  ITPL Main Road, Whitefield
51716             0           0  3.400000     13  ITPL Main Road, Whitefield

                 rest_type                                         dish_liked  \
0            Casual Dining  Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1            Casual Dining  Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2      Cafe, Casual Dining  Churros, Cannelloni, Minestrone Soup, Hot Choc...
3              Quick Bites                                        Masala Dosa
4            Casual Dining                                Panipuri, Gol Gappe
...                    ...                                                ...
51712                  Bar                                            Biryani
51713                  Bar                                            Biryani
51714                  Bar                                            Biryani
51715                  Bar                       Cocktails, Pizza, Buttermilk
51716   Bar, Casual Dining                                            Biryani

                                     cuisines  approx_cost(for two people)  \
0              North Indian, Mughlai, Chinese                   800.000000
1                 Chinese, North Indian, Thai                   800.000000
2                      Cafe, Mexican, Italian                   800.000000
3                  South Indian, North Indian                   300.000000
4                    North Indian, Rajasthani                   600.000000
...                                       ...                          ...
51712                             Continental                   416.630112
51713                             Finger Food                   600.000000
51714                             Finger Food                   416.630112
51715                             Finger Food                   416.630112
51716  Finger Food, North Indian, Continental                   416.630112

      listed_in(type) listed_in(city)
0              Buffet    Banashankari
1              Buffet    Banashankari
2              Buffet    Banashankari
3              Buffet    Banashankari
4              Buffet    Banashankari
...               ...             ...
51712   Pubs and bars      Whitefield
51713   Pubs and bars      Whitefield
51714   Pubs and bars      Whitefield
51715   Pubs and bars      Whitefield
51716   Pubs and bars      Whitefield

[51717 rows x 11 columns]>

In [247]:
df2.isnull().sum()

online_order                   0
book_table                     0
rate                           0
votes                          0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
listed_in(type)                0
listed_in(city)                0
dtype: int64